/* Colores inspirados en los tipos clásicos de Pokémon */

body.normal {
  background-color: #A8A77A; /* beige/verde oliva */
}

body.fighting {
  background-color: #C22E28; /* rojo oscuro */
}

body.flying {
  background-color: #A98FF3; /* lila */
}

body.poison {
  background-color: #A33EA1; /* púrpura */
}

body.ground {
  background-color: #E2BF65; /* marrón claro */
}

body.rock {
  background-color: #B6A136; /* marrón grisáceo */
}

body.bug {
  background-color: #A6B91A; /* verde lima */
}

body.ghost {
  background-color: #735797; /* morado oscuro */
}

body.steel {
  background-color: #B7B7CE; /* gris acero */
}

body.fire {
  background-color: #EE8130; /* naranja */
}

body.water {
  background-color: #6390F0; /* azul */
}

body.grass {
  background-color: #7AC74C; /* verde */
}

body.electric {
  background-color: #F7D02C; /* amarillo */
}

body.psychic {
  background-color: #F95587; /* rosa fuerte */
}

body.ice {
  background-color: #96D9D6; /* azul hielo */
}

body.dragon {
  background-color: #6F35FC; /* púrpura brillante */
}
body.dark {
  background-color: #705746; /* marrón oscuro */
}

body.fairy {
  background-color: #D685AD; /* rosa pálido */
}

